* {
  font-family: 'Ubuntu Mono';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: whitesmoke;
  height: 100vh;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  flex-direction: column;
  /* background-color: maroon; */
}
.heading {
  text-transform: capitalize;
  text-align: center;
}
.result {
  margin-top: 2rem;
}
